/* src/styles/InvestorView.css */
.investor-title {
  color: #90caf9;
  margin-bottom: 20px;
  text-align: center;
}

.chart-container {
  margin-bottom: 40px;
  padding: 10px;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .chart-container {
    padding: 5px;
  }
}
