/* src/styles/SubmissionCard.css */
.submission-card {
  background-color: #1e1e1e;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.submission-title {
  color: #90caf9;
}

.submission-text {
  color: #f48fb1;
}
