.about-page {
  font-family: Arial, sans-serif;
}

.about-content {
  padding: 2rem;
}

.about-content h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.article {
  margin-bottom: 2rem;
}

.article h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.article-image {
  width: 80%; /* Reduce width to make the image smaller */
  height: auto;
  margin-bottom: 1rem;
  max-width: 400px; /* Reduce the maximum width */
  display: block;
  margin-left: 10px;
  margin-right: auto;
}

.article p {
  font-size: 1rem;
  line-height: 1.5;
}

.company-services {
  margin-top: 2rem;
}

.company-services h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.company-services p {
  font-size: 1rem;
  line-height: 1.5;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 2rem 0;
}
